* {
    box-sizing: border-box;
}
body {
    margin: 0;
    text-align: center;
}
main {

    margin-top: 2em;
    background: #ffffff;
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    width: 800px;
    height: 400px;
    border: 3px solid #ffffff;
    grid-gap: 6px;
}

main div {
    font-size: 1em;
    color: rgba(0, 0, 0, 0.98);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5px 1em 1em 1em;
}

.header {
    grid-column: 1 / span 8;
    grid-row: 1 / 2;
    background:#ffd801;
    font-size: 12px;
    align-items: flex-start;
}

.nav {
    grid-column: 1 / span 2;
    grid-row: 2 / span 7;
    background:#ffd801;
    font-size: 12px;
    align-items: flex-start;
    justify-content: flex-start;
}

.footer {
    grid-column: 3 / 9;
    grid-row: 8 / 9;
    background:#ffd801;
    font-size: 12px;
    align-items: flex-start;
}


.ads {
    grid-column: 8 / 9;
    grid-row: 2 / span 6;
    background:#ffd801;
    font-size: 12px;
    align-items: flex-start;
    justify-content: flex-start;

}

.article {
    grid-column: 3 / 8;
    grid-row: 2 / 8;
    background:#ffd801;
    font-size: 12px;
    align-items: flex-start;
    justify-content: flex-start;
}