.jumbotron {
    background-image: url("../imgs/pizza.png");


}
 .navbar-nav {
     align-items: center;

 }

h1  {
    background-color: #FFFFFF;
    opacity: 60%;
    text-align: center;
}

.card-body {
    margin: auto;
}

.card-header {
    border: 1px solid lightgrey;
}

.list-group {
    border: 1px solid lightgrey;
}
