.fancy-header-1 {
    text-align: center;
    color: yellow;
}

h2 {
    color: white;
    text-decoration: underline;
}

body {
    background-image: url("https://wallpaperaccess.com/full/640759.jpg");
    background-attachment: fixed;


}

ul {
    list-style: georgian;
}

#main-content {
    font-family: "Star Jedi";
    color: white;
    font-size: 20px;
}

footer {
    color: white;
    font-family: "Star Jedi";
    text-align: center;
}

.fancy-header-3 {
    text-align: center;
    text-decoration: underline;
}

table {
    text-align: center;
    margin: 50px auto;
    width: 500px;
    padding: 18px;
    color: yellow;
}
 th {
     font-size: 30px;
     text-decoration: underline;
 }

 a {
     color: yellow;
 }

 a:hover {
     background-color: cornflowerblue;
 }

 a:visited {
     background-color: darkgreen ;
 }