.fancy-header-1 {
    text-align: center;
    color: yellow;
}

.fancy-header-2 {
    color: white;
    text-decoration: underline;
}

body {
    background-image: url("https://wallpaperaccess.com/full/640759.jpg");
    background-attachment: fixed;


}

ul {
    list-style: georgian;
}

#main-content {
    font-family: "Star Jedi";
    color: white;
    font-size: 20px;
}

footer {
    color: white;
    font-family: "Star Jedi";
    text-align: center;
}